*.pyc
__pycache__/
*.pyo
*.pyd
appbase/__pycache__/
appbase/migrations/__pycache__/
travel/__pycache__/
travel/migrations/__pycache__/
travel/templatetags/__pycache__/
trek/__pycache__/
user/__pycache__/
user/migrations/__pycache__/
/__pycache__/
travel/__pycache__/models.cpython-311.pyc
travel/__pycache__/urls.cpython-311.pyc
travel/__pycache__/views.cpython-311.pyc
travel/migrations/__pycache__/0002_travelplan_geo_remove_travelplan_gpxtrek_and_more.cpython-311.pyc
trek/__pycache__/settings.cpython-311.pyc
user/migrations/__pycache__/0002_user_login_history.cpython-311.pyc
.dockerignore
Dockerfile
compose.yaml
requirements.txt



