{% extends 'base_page.html' %}
{% load static %}

{% block styles %}
{{ block.super }}

    <!-- Стили специфичные для профиля пользователя -->
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/user_profile_login_create.css' %}">

{% endblock %}

{% block content %}
{{ block.super }}

<div class="container">
    <h2>Создание нового аккаунта</h2>
    
    <form  id="UserProfile" class="materialize-form" method="post" action="{% url 'User:create_user' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" id="createUserUrl" value="{% url 'User:create_user' %}">
        
        <label for="email">Электронная почта:</label>
        <input type="email" id="email" name="email" required><br>
    
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="username">Имя:</label>
        <input type="text" id="username" name="username" class="materialize-input" required><br>

        <label for="usersurname">Фамилия:</label>
        <input type="text" id="usersurname" name="usersurname" class="materialize-input" required><br>        
        
        <label for="usertype">Тип пользователя:</label>
        <select id="usertype" name="usertype" class="materialize-select" required>
            {% for usertype in usertypes %}
                <option value="{{ usertype.id }}"> {{ usertype.usertypedescription }} </option>
            {% endfor %}    
        </select>  
        <input type="submit" value="Регистрация" class="btn btn-primary">
    </form>         
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}

<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
});
</script>
<script>
    document.getElementById('UserProfile').addEventListener('submit', function(e) {
        e.preventDefault(); // Предотвращаем стандартное поведение отправки формы
    
        var createUserUrl = document.getElementById('createUserUrl').value; // Получение URL
    
        // Получение CSRF токена из cookie или скрытого поля
        var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
        fetch(createUserUrl, {
            method: 'POST',
            body: new FormData(this),
            headers: {
                'X-CSRFToken': csrftoken, // Передача CSRF токена в заголовке
            }
        })
        .then(response => response.json())
        .then(data => {
            if(data.success) {
                showToast('success', data.message);
                setTimeout(() => {
                    window.location.href = data.redirect_url; // Перенаправление пользователя
                }, 1000); // Задержка перед перенаправлением, чтобы пользователь успел увидеть сообщение
            } else {
                showToast('error', Object.values(data.errors).join(', '));
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    
        function showToast(type, message) {
            let toast = document.createElement('div');
            toast.className = `toast toast-${type}`;
            toast.textContent = message;
        
            document.body.appendChild(toast);
        
            setTimeout(() => {
                toast.remove();
            }, 3000); // Уведомление исчезнет через 3 секунды
        }    
    });
</script>
{% endblock %}