{% extends 'user_profile.html' %}
{% load static %}

{% block styles %}
{{ block.super }}

    <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'travel/css/create_travel_plan.css' %}">

{% endblock %}  

{% block user_content %}


<div id="map_navigation">
    <div id="map_navigation_collapsible">
        <ul class="collapsible">
            <li id="li" data-container="fieldsContainer1">
                <div class="collapsible-header">
                    <img class="point-icons" src="/static/travel/img/point.svg">Построить маршрут               
                </div>
                <div class="collapsible-body">
                    <!-- Форма для добавления новой точки -->
                    <form id="addPointForm" method="post" action="{% url 'travel:created_track_map' %}">
                    {% csrf_token %}
                    <input type="text" class="input-point" name="point_сoordinates" placeholder="Выберите точки маршрута на карте" maxlength="25" readonly>
                    <div id="fieldsContainer1">
                    </div>                  
                        <div class="modal-content-btn">
                            <button type="button" class="btn-min add-expense-btn" data-target="fieldsContainer1">+</button>
                            <button type="button" class="btn_delete_min" data-target="fieldsContainer1">-</button>                        
                        </div>
                        <div class="modal-content-radio">
                            <div class="modal-content-radio-icons">
                                <p>
                                    <label>
                                    <input name="group1" type="radio" checked />
                                    <img class="point-icons-radio" src="/static/travel/img/hiking_treking.svg">          
                                    </label>
                                </p>
                            </div>
                            <div class="modal-content-radio-icons">    
                                <p>
                                    <label>
                                    <input name="group1" type="radio" />
                                    <img class="point-icons-radio" src="/static/travel/img/bicycle.svg">          
                                    </label>
                                </p>
                            </div>
                            <div class="modal-content-radio-icons">    
                                <p>
                                    <label>
                                    <input name="group1" type="radio"  />
                                    <img class="point-icons-radio" src="/static/travel/img/car.svg">         
                                    </label>
                                </p>
                            </div>   
                        </div>
                        <div class="modal-content-btn"> 
                            <button type="submit" class="btn-min">Проложить маршрут</button>
                            <button type="submit" class="btn-min">Сохранить маршрут</button>
                        </div>
                    </form>
                </div>
            </li>          
        </ul>
    </div>
</div>


{% endblock %}


{% block user_scripts %}
{{ block.super }}
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Инициализация карты Mapbox
        mapboxgl.accessToken = 'pk.eyJ1Ijoiam9uZW5naW5lZXIiLCJhIjoiY2xvcm1jeGZxMHc4eDJxcDVsZnZpZzI4ayJ9.Ou-RGij5NC3X3LpByDstZQ';
        const map = new mapboxgl.Map({
            container: 'map_navigation',
            style: 'mapbox://styles/mapbox/streets-v12',
            center: [81.1772, 51.5528],
            zoom: 2.3
        });
    
        var markers = []; // Массив для хранения маркеров
        var fieldContainer = document.getElementById('fieldsContainer1');
        var routePoints = []; // Массив для хранения выбранных точек
        // Массив для связи между полями ввода и маркерами
        var fieldToMarkerMap = [];
    
        map.on('load', () => {
            // Инициализация начальной точки маршрута и маркера, если это необходимо
            // Здесь добавьте код для инициализации, если он вам нужен
        });
    
        // Обработчик клика по карте
        map.on('click', function(e) {
            var coords = e.lngLat;
            var formattedCoords = coords.lat.toFixed(4) + ", " + coords.lng.toFixed(4);
            addMarkerAndField(coords, formattedCoords);
        });
    
        function addMarkerAndField(coords, formattedCoords) {
            if (routePoints.length > 10) {                     
                return;
            }           

            // Добавляем координаты в поле ввода
            var availableField = findNextAvailableField();
            if (availableField) {
                availableField.value = formattedCoords;
                var el = createMarkerElement();
                var marker = new mapboxgl.Marker(el)
                .setLngLat(coords)
                .addTo(map);
                markers.push(marker);

                // Теперь добавляем координаты этого маркера в routePoints
                var newPoint = [coords.lng, coords.lat];
                routePoints.push(newPoint);
                var travelMode = getCurrentTravelMode();

                getRoute(routePoints, travelMode);

                // Сохраняем связь между полем ввода и маркером
                fieldToMarkerMap.push({ field: availableField, marker: marker });
            }                    
        }
    
        function createMarkerElement() {
            var el = document.createElement('div');
            el.style.backgroundImage = 'url(/static/travel/img/location_point.svg)';
            el.style.width = '45px';
            el.style.height = '45px';
            el.style.backgroundSize = '100%';
            return el;
        }
        
        async function getRoute(points, mode) {
            if (points.length < 2) {
                return; // Нужны как минимум две точки для построения маршрута
            }
                      
            var waypoints = points.map(point => point.join(',')).join(';');
            const query = await fetch(
                `https://api.mapbox.com/directions/v5/mapbox/${mode}/${waypoints}?steps=true&geometries=geojson&access_token=pk.eyJ1Ijoiam9uZW5naW5lZXIiLCJhIjoiY2xvcm1jeGZxMHc4eDJxcDVsZnZpZzI4ayJ9.Ou-RGij5NC3X3LpByDstZQ`,
                { method: 'GET' }
            );
            const json = await query.json();
            updateRouteOnMap(json.routes[0].geometry.coordinates);
        }
    
        function updateRouteOnMap(route) {
            const geojson = {
                type: 'Feature',
                properties: {},
                geometry: {
                    type: 'LineString',
                    coordinates: route
                }
            };
    
            if (map.getSource('route')) {
                map.getSource('route').setData(geojson);
            } else {
                map.addLayer({
                    id: 'route',
                    type: 'line',
                    source: {
                        type: 'geojson',
                        data: geojson
                    },
                    layout: {
                        'line-join': 'round',
                        'line-cap': 'round'
                    },
                    paint: {
                        'line-color': '#F44336',
                        'line-width': 10,
                        'line-opacity': 0.8
                    }
                });
            }
        }
    
        function findNextAvailableField() {
            var fields = fieldContainer.getElementsByTagName('input');
            for (var i = 0; i < fields.length; i++) {
                if (fields[i].value === '') {
                    return fields[i];
                }
            }
            return null;
        }
    
        var collapsibleElements = document.querySelectorAll('.collapsible');
        var collapsibleInstances = M.Collapsible.init(collapsibleElements, {
            onOpenStart: function(el) {
                var containerId = el.getAttribute('data-container');
                if (containerId && fieldContainer.children.length === 0) {
                    addNewField(containerId);
                }
            }
        });
    
        document.querySelectorAll('.add-expense-btn, .btn_delete_min').forEach(function(button) {
            button.addEventListener('click', function() {
                var isAddButton = this.classList.contains('add-expense-btn');
                manageFields(isAddButton, this.getAttribute('data-target'));
            });
        });

        document.querySelectorAll('input[name="group1"]').forEach(radio => {
            radio.addEventListener('change', function() {
                if(this.checked && routePoints.length >= 2) {
                    var travelMode = getCurrentTravelMode();
                    getRoute(routePoints, travelMode);
                }
            });
        });

        // Определение выбранного типа маршрута
        function getCurrentTravelMode() {
            var selectedRadio = document.querySelector('input[name="group1"]:checked');
            if (selectedRadio) {
                // Перестроение маршрута с учетом выбранного типа передвижения
                return selectedRadio.nextElementSibling.getAttribute("src").includes("hiking_treking") ? "walking" :
                       selectedRadio.nextElementSibling.getAttribute("src").includes("bicycle") ? "cycling" : "driving";

            }
            return "walking"; // Возвращаем режим по умолчанию, если ни один не выбран
        }
    
        function manageFields(isAdd, containerId) {
            var container = document.getElementById(containerId);
        
            if (isAdd) {
                addNewField(containerId);
            } else {
                var fields = Array.from(container.getElementsByClassName('input-point'));
                var indexToRemove = fields.length - 1; // Индекс последнего поля
        
                if (indexToRemove !== -1 && fields[indexToRemove].value !== '') {
                    var markerToDelete = fieldToMarkerMap[indexToRemove].marker;
                    markerToDelete.remove();
                    fieldToMarkerMap.splice(indexToRemove, 1);
                    routePoints.splice(indexToRemove, 1);
                    rebuildRoute();
                }
        
                removeLastField(containerId);
            }
        }

        function rebuildRoute() {
            if (routePoints.length >= 2) {
                var travelMode = getCurrentTravelMode();
                getRoute(routePoints, travelMode); // Перестроение маршрута
            } else {
                clearRouteOnMap(); // Очищаем маршрут на карте
            }
        }

        function findLastFilledFieldIndex(container) {
            var fields = container.getElementsByClassName('input-point');
            for (var i = fields.length - 1; i >= 0; i--) {
                if (fields[i].value !== '') {
                    return i;
                }
            }
            return -1; // Возвращаем -1, если все поля пустые
        }
        
        function clearRouteOnMap() {
            if (map.getSource('route')) {
                map.getSource('route').setData({
                    type: 'Feature',
                    properties: {},
                    geometry: {
                        type: 'LineString',
                        coordinates: []
                    }
                });
            }
        }
    
        function addNewField(containerId) {
            var container = document.getElementById(containerId);
            if (!container) {
                showToast('error', 'Контейнер не найден: ' + containerId);
                return;
            }
    
            var existingFields = container.getElementsByClassName('group-container');
            if (existingFields.length >= 10) {
                showToast('error', 'Можно выбрать только 10 точек.');
                return;
            }
    
            var groupContainer = document.createElement('div');
            groupContainer.className = 'group-container';
    
            var numberingField = document.createElement('input');
            numberingField.type = 'text';
            numberingField.className = 'input-numbering';
            numberingField.value = (existingFields.length + 1);
            numberingField.readOnly = true;
    
            var coordinatesInput = document.createElement('input');
            coordinatesInput.type = 'text';
            coordinatesInput.className = 'input-point';
            coordinatesInput.name = 'point_coordinates[]';
            coordinatesInput.placeholder = 'Укажите координаты на карте';
            coordinatesInput.maxLength = '25';
            coordinatesInput.readOnly = true;
    
            groupContainer.appendChild(numberingField);
            groupContainer.appendChild(coordinatesInput);
            container.appendChild(groupContainer);
        }
    
        function removeLastField(containerId) {
            var container = document.getElementById(containerId);
            if (!container) {
                showToast('error', 'Контейнер не найден: ' + containerId);
                return;
            }
        
            if (container.lastElementChild) {
                container.removeChild(container.lastElementChild);
            }
        }
    
        function showToast(type, message) {
            let toast = document.createElement('div');
            toast.className = `toast toast-${type}`;
            toast.textContent = message;
            document.body.appendChild(toast);
            setTimeout(() => {
                toast.remove();
            }, 3000);
        }
    });
</script>      

{% endblock %}   

