{% extends 'travel_detail_full.html' %}
{% load static %}

{% block travel_detail_content %}
       {{ block.super }}
<div class="content-travel-full">       
  <div class="content-container">
    <div class="map-container_2">
      <div id="map_1"></div> <!-- Установите высоту контейнера карты -->
      <div id="menu-container">
        <button id="start-animation">Старт</button>
        <div id='style-menu'>
          <select id='style-selector'>        
            <option value='mapbox://styles/jonengineer/clp1i7gue01c001qyaew4btuj'>Природа</option>
            <option value='mapbox://styles/mapbox/streets-v11'>Улицы</option>
            <option value='mapbox://styles/mapbox/light-v10'>Светлый</option>
            <option value='mapbox://styles/mapbox/dark-v10'>Тёмный</option>
            <option value='mapbox://styles/mapbox/satellite-v9'>Спутник</option>        
          </select>
        </div>
      </div>         
    </div>
    <div id="charts-container">
      <div id="elevation_chart_div"></div>
      <div id="heart_rate_chart_div"></div>
    </div>
  </div>
</div>   
{% endblock %}

{% block travel_detail_scripts %}
    {{ block.super }}
<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@turf/turf@6.5.0"></script>
<!-- Графики-->
<script>
  // Предположим, что переменная gpxData была инициализирована с данными из вашего GPX файла.
  var gpxData = JSON.parse('{{ gpx_data|safe }}');

  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawElevationDistanceChart);
  google.charts.setOnLoadCallback(drawHeartRateTimeChart);

  var elevationChart, heartRateChart;
  var elevationData, heartRateData;
  var elevationOptions, heartRateOptions;

  function drawElevationDistanceChart() {
    elevationData = new google.visualization.DataTable();
    elevationData.addColumn('number', 'Расстояние');
    elevationData.addColumn('number', 'Высота');

    for (var i = 0; i < gpxData.distances.length; i++) {
      elevationData.addRow([gpxData.distances[i], gpxData.elevation_points[i]]);
    }

    elevationOptions = {
      title: 'Высота над уровнем моря в зависимости от расстояния',
      curveType: 'function',
      legend: { position: 'none' },            
      colors: ['#676418'],
      hAxis: { title: 'Расстояние, км' },
      vAxis: { title: 'Высота, м' },
      backgroundColor: '#9CABAE',
      chartArea: {
        backgroundColor: {
          stroke: '#3C2C13',
          strokeWidth: 1
        },
        left: 50,
        top: 20,
        width: '90%',
        height: '60%'
      }
    };
    // Настройки оси Y (vAxis)
    elevationOptions.vAxis = elevationOptions.vAxis || {}; // Создаем объект vAxis, если он еще не создан
    elevationOptions.vAxis.viewWindow = elevationOptions.vAxis.viewWindow || {}; // То же самое для viewWindow

    // Устанавливаем максимальное значение
    var maxElevation = Math.max.apply(null, gpxData.elevation_points);
    elevationOptions.vAxis.viewWindow.max = maxElevation + (maxElevation * 0.01); // Добавляем 3% отступа

    // Устанавливаем минимальное значение, если нужно
    var minElevation = Math.min.apply(null, gpxData.elevation_points);
    elevationOptions.vAxis.viewWindow.min = minElevation - (minElevation * 0.01); // Добавляем 3% отступа, если есть отрицательные значения


    elevationChart = new google.visualization.LineChart(document.getElementById('elevation_chart_div'));
    elevationChart.draw(elevationData, elevationOptions);

  }
  function drawHeartRateTimeChart() {
    heartRateData = new google.visualization.DataTable();
    heartRateData.addColumn('datetime', 'Время');
    heartRateData.addColumn('number', 'Пульс');

    for (var i = 0; i < gpxData.time_points.length; i++) {
      heartRateData.addRow([new Date(gpxData.time_points[i]), gpxData.heart_rate_points[i]]);
    }

    heartRateOptions = {
      title: 'Пульс от времени',
      curveType: 'function',
      legend: { position: 'none' },      
      colors: ['red'],
      hAxis: { title: 'Время', format: 'HH:mm' },
      vAxis: { title: 'Пульс' },
      backgroundColor: '#9CABAE',
      chartArea: {
        backgroundColor: {
          stroke: '#3C2C13',
          strokeWidth: 1
        },
        left: 50,
        top: 20,
        width: '90%',
        height: '60%'
      }
    };

    heartRateChart = new google.visualization.LineChart(document.getElementById('heart_rate_chart_div'));
    heartRateChart.draw(heartRateData, heartRateOptions);
  }
  window.addEventListener('resize', function() {
    if (elevationChart && heartRateChart) {
      elevationChart.draw(elevationData, elevationOptions);
      heartRateChart.draw(heartRateData, heartRateOptions);
    }
  }, { passive: true });

</script>
<!-- Карта-->
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    mapboxgl.accessToken = 'pk.eyJ1Ijoiam9uZW5naW5lZXIiLCJhIjoiY2xvcm1jeGZxMHc4eDJxcDVsZnZpZzI4ayJ9.Ou-RGij5NC3X3LpByDstZQ';
  
    let map_1;
    let firstPointCoordinates, lastPointCoordinates, centerCoordinates;
    travelGeoJSON = {{ gpx_data_track|safe }};
  
    if (travelGeoJSON && travelGeoJSON.features && travelGeoJSON.features.length > 0) {
      firstPointCoordinates = travelGeoJSON.features[0].geometry.coordinates[0];
      lastPointCoordinates = travelGeoJSON.features[0].geometry.coordinates[travelGeoJSON.features[0].geometry.coordinates.length - 1];
      centerCoordinates = firstPointCoordinates.slice(0, 2);
  
      map_1 = new mapboxgl.Map({
        container: 'map_1',
        center: centerCoordinates,
        zoom: 13,
        projection: 'mercator',
        style: 'mapbox://styles/jonengineer/clp1i7gue01c001qyaew4btuj',
        // ... другие параметры карты
      });
  
      var selector = document.getElementById('style-selector');
      selector.addEventListener('change', function() {
        map_1.setStyle(this.value);
      });
    
  
    map_1.on('style.load', function() {
      if (!map_1.getSource('route')) {
        map_1.addSource('route', {
          type: 'geojson',
          data: {{ gpx_data_track|safe }}
        });
      }
  
      if (!map_1.getLayer('route')) {
        map_1.addLayer({
          id: 'route',
          type: 'line',
          source: 'route',
          layout: {
            'line-join': 'round',
            'line-cap': 'round'
          },
          paint: {
            'line-color': '#D32F2F',
            'line-width': 6
          }
        });
      }  
         
      new mapboxgl.Marker({
        element: createCustomMarkerElement('/static/travel/img/start-icon.svg')
      })
      .setLngLat(firstPointCoordinates)
      .addTo(map_1);

      new mapboxgl.Marker({
        element: createCustomMarkerElement('/static/travel/img/end-icon.svg')
      })
      .setLngLat(lastPointCoordinates)
      .addTo(map_1);
    });

    // Создание маркера для анимации
    const animatedMarker = new mapboxgl.Marker({
      element: createCustomMarkerElement('/static/travel/img/hiking_moving.svg')
    })       

    // Функция для создания анимации
    let counter = 0;
    const animationSpeed = 10;
    function animateTravel() {
      const coordinates_animate = travelGeoJSON.features[0].geometry.coordinates;
      if (counter < coordinates_animate.length) {
        // Анимация маркера
        animatedMarker.setLngLat(coordinates_animate[counter]);
    
        // Создание геометрии трека на основе пройденного пути
        if (counter > 0) { // Изменение условия
          const path = coordinates_animate.slice(0, counter + 1);
          if (path.length >= 2) { // Добавление проверки на количество координат
            lineString = turf.lineString(path);
            map_1.getSource('route').setData(lineString);
          }
        }
        counter++;
        setTimeout(() => requestAnimationFrame(animateTravel), animationSpeed);
      }
    }    
    // Подключение функции анимации к кнопке
    document.getElementById('start-animation').addEventListener('click', () => {
      counter = 0; // Сброс счетчика для повторного запуска
      // Установка начального положения маркера и добавление его на карту
      animatedMarker.setLngLat(firstPointCoordinates).addTo(map_1);
      animateTravel(); // Используйте animateTravel
    });
  }
});  
function createCustomMarkerElement(iconUrl) {
  var container = document.createElement('div');  
  var el = document.createElement('div');
  el.style.backgroundImage = `url(${iconUrl})`;
  el.style.width = '30px';
  el.style.height = '30px';
  el.style.backgroundSize = '100%';    
  return el;
}
</script>
<!-- Выпадающий список-->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  });
</script>
{% endblock %}