{% extends 'travel_detail_full.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'travel/style_2.css' %}">
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
{% endblock %}

{% block travel_detail_content %}
  {{ block.super }}
  <div class="content-travel-description">
    <div class="content-travel-description-text"> 
      <div class="content-travel-description-text-form">     
        <form method="post" action="URL_обработчика_данных">
          {% csrf_token %}      
            <div class="input-field col s12">
              {{ form.title_descriptiond.label_tag }}
              {{ form.title_descriptiond }}              
            </div>  
            <div class="input-field col s12">
              {{ form.name_descriptiond.label_tag }}
              {{ form.name_descriptiond }}
            </div> 
          <button class="waves-light btn custom-btn">
            <span id = 'btndescription' class="waves-light btn__label">Сохранить</span>
          </button>
        </form>
      </div>          
    </div>

    <div class="content-travel-description-media">
      <div class="slider">
        <ul class="slides" id="imageSlider">
            <!-- Пример слайда с изображением и описанием -->
            {% for photo in photos %}
            <li>
                <img src="{{ photo.image_url }}"> <!-- URL изображения -->
                <div class="caption right-align">
                    <h3>{{ photo.description }}</h3> <!-- Описание фотографии -->
                </div>
            </li>
            {% endfor %}
        </ul>
      </div>
      <div class="media-input">
        <ul class="collapsible">
          <li id="li">
            <div class="collapsible-header">
              <img class="point-icons" src="/static/travel/img/photograph.svg">Добавить фотографии и описание                 
            </div>
            <div class="collapsible-body">
              <!-- Форма для добавления новой точки -->
              <form id="addPointForm" method="post" action="{% url 'travel:add_media_travel' travel.travelplan_id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="collapsible-input_text">
                  <input id="input_text" type="text" class="input-point" name="namepoint" placeholder="Укажите название для фотографии" data-length="35">
                </div>                            
                <div class="collapsible-input_file">
                  <div class="file-field input-field">
                    <button  id="submitButton">
                        <span>Выбрать фото:</span>
                        <input type="file"  id="image" name="image" accept=".jpg">
                    </button>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Выберите файл в формате JPG">
                    </div>
                  </div>
                </div>  
                <button id="submitButton">Добавить</button>
              </form>
            </div>
          </li>          
        </ul>
      </div>        
    </div>
  </div>

{% endblock %}

{% block travel_detail_scripts %}
    {{ block.super }}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var textArea2 = document.querySelector('#textarea2');
    var textArea3 = document.querySelector('#textarea3');
    var textArea4 = document.querySelector('#textarea4');  
     
    if (textArea2) M.CharacterCounter.init(textArea2);
    if (textArea3) M.CharacterCounter.init(textArea3);
    if (textArea4) M.CharacterCounter.init(textArea4);
  
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems); // Инициализация без `options`, если нет специальных настроек

    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });
</script>

{% endblock %}