{% extends 'user_profile.html' %}
{% load static %}
{% load custom_filters %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'travel/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
{% endblock %}

{% block user_content %}
    {{ block.super }}
    <div class="container-travel-detail">
        <div class="container-travel-detail-0">
        <h1>{{ travel.territory }}</h1>
        </div>
        <div class="container-travel-detail-flex">
          <div class="container-travel-detail-1">
          <p><strong>Дата начала:</strong> {{ travel.datestart|custom_date_format }}</p>
          <p><strong>Дата окончания:</strong> {{ travel.datefinish|custom_date_format }}</p>
          <p><strong>Количество: дней: </strong> {{ travel.quantitydays }}</p>
          <p><strong>Тип путешествия:</strong> {{ travel.traveltype.traveltypedescription }}</p>
          </div>
          <div class="container-travel-detail-2">
          <p><strong>Общая дистанция:</strong> {{ travel.total_distance_travelled|to_kilometers|floatformat:2 }} км</p>
          <p><strong>Набор высоты: </strong> {{ travel.total_ascent|floatformat:2 }} м </p>
          <p><strong>Сброс высоты: </strong> {{ travel.total_descent|floatformat:2 }} м </p>
          <p><strong>Количество участников: </strong>  человек </p>
          </div>
         <div class="container-travel-detail-3">
          <p><strong>Общее время: </strong> {{ travel.total_time_seconds|format_seconds }} ч:м </p>
          <p><strong>Время в движение: </strong> {{ travel.moving_time_seconds|format_seconds }} ч:м </p>
          <p><strong>Средняя скорость: </strong> {{ travel.speed_midle|floatformat:2 }} км/ч </p>             
          <p><strong>Скорость в движение: </strong> {{ travel.speed_moving|floatformat:2 }} км/ч </p>
          </div>
        </div>
    </div>      
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab">
                <a href="{% url 'travel:travel_detail_chart' travelplan_id=travel.travelplan_id %}" 
                   class="{% if request.resolver_match.url_name == 'travel_detail_chart' %}active{% endif %}">
                    Маршрут
                </a>
            </li>         
            <li class="tab">
                <a href="{% url 'travel:3Dmap'  travelplan_id=travel.travelplan_id %}" 
                   class="{% if request.resolver_match.url_name == '3Dmap' %}active{% endif %}">
                    3D карта
                </a>
            </li>
        </ul>
    </div>

    {% block travel_detail_content %}
    {% block travel_detail_scripts %}{% endblock %}    
    {% endblock %}

{% endblock %}

{% block user_scripts %}
    {{ block.super }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Инициализация вкладок -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.tabs');
        var instances = M.Tabs.init(elems, {});
        
        // Отключение перехвата событий
        document.querySelectorAll('.tabs a').forEach(function(tab) {
            tab.addEventListener('click', function(e) {
                window.location = this.href;
            });
        });
    });
</script> 

{% endblock %}