{% extends 'travel_detail_full.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static 'travel/css/travel_description.css' %}">

{% endblock %}

{% block travel_detail_content %}
  {{ block.super }}
  <div class="content-travel-description">    
    <div class="content-travel-description-text">
      <div class="media-input">
        <ul class="collapsible">
          <li id="li">
            <div class="collapsible-header">
              <img class="point-icons" src="/static/travel/img/photograph.svg">Добавить фотографии                 
            </div>
            <div class="collapsible-body">
              <!-- Форма для добавления новой точки -->
              <form id="addPointForm" method="post" action="{% url 'travel:add_media_travel' travel.travelplan_id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="collapsible-input_text">
                  <input id="title-text" type="text" class="input-point" name="namepoint" placeholder="Укажите название для фотографии" data-length="150">
                </div>                            
                <div class="collapsible-input_file">
                  <div class="file-field input-field custom-style-1">
                    <button class="btn-min">
                        <span>Фото:</span>
                        <input type="file"  id="image" name="image" accept=".jpg">
                    </button>              
                    <input class="file-path validate" type="text" placeholder="Выберите файл в формате JPG">
                  </div>
                </div>  
                <button id="submitButton" class="btn-min">Добавить</button>
              </form>
            </div>
          </li>          
        </ul>
      </div>
      <div class="content-travel-description-text2">
        <form id="description-form" method="post" action="{% url 'travel:add_description_travel' travel.travelplan_id %}">
          {% csrf_token %}
          <div class="content-travel-description-text2-title">
            <button type="button" id="edit-title-button" class="edit-button-point">                
              <img id="delete-button-icons-point" src="/static/travel/img/edit.svg">              
            </button>
            <input type="text" id="title-field" class="input-point" value="{{ title }}" name="title_descriptiond" placeholder="Добавьте заголовок" data-length="150" readonly>  
          </div>
          <button type="submit" id="submitButton-description-title" class="btn-min">Сохранить</button>
          <div class="content-travel-description-text2-title">
            <button type="button" id="edit-description-button" class="edit-button-point">                
              <img id="delete-button-icons-point" src="/static/travel/img/edit.svg">              
            </button>
            <textarea  id="description-field" class="materialize-textarea" name="name_descriptiond" placeholder="Добавьте описание" data-length="6000" readonly>{{ name }}</textarea>
          </div>
          <button type="submit" id="submitButton-description-name" class="btn-min">Сохранить</button>                         
        </form>          
      </div>
    </div>
    <div class="content-travel-description-media">      
      <div class="slider">
        <ul class="slides" id="imageSlider">
            <!-- Пример слайда с изображением и описанием -->
            {% for photo in photos %}
            <li>
                <img src="{{ photo.image_url }}"> <!-- URL изображения -->
                <div class="caption right-align">
                    <h3>{{ photo.description }}</h3> <!-- Описание фотографии -->
                </div>
            </li>
            {% endfor %}
        </ul>
      </div>          
    </div>
  </div>
{% endblock %}

{% block travel_detail_scripts %}
{{ block.super }}
<script>
  function makeEditable_title(fieldId) {
    var field = document.getElementById(fieldId);
    field.readOnly = false;    
    M.CharacterCounter.init(field); // Инициализируем счетчик символов для поля
    document.getElementById('submitButton-description-title').style.display = 'block'; // Показываем кнопку
    field.focus(); // Активируем курсор в поле
}
function makeEditable_name(fieldId) {
    var field = document.getElementById(fieldId);
    field.readOnly = false;
    M.CharacterCounter.init(field); // Инициализируем счетчик символов для поля
    document.getElementById('submitButton-description-name').style.display = 'block'; // Показываем кнопку
    field.focus(); // Активируем курсор в поле
}
document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('edit-title-button').addEventListener('click', () => makeEditable_title('title-field'));
    document.getElementById('edit-description-button').addEventListener('click', () => makeEditable_name('description-field'));

    var elems = document.querySelectorAll('.collapsible');
    M.Collapsible.init(elems);

    var title_text = document.querySelector('#title-text');

    if (title_text) M.CharacterCounter.init(title_text);
});
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.slider');
  var options = {
      indicators: true // Включение индикаторов
  };
  M.Slider.init(elems, options);
});
</script>
{% endblock %}