/* СТИЛИ СТРАНИЦЫ ЛИЧНОГО КАБИНЕТА  */
/* Боковая панель c  иконками контейнер */
.mdc-drawer__content  { 
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 66px;
  background-color: var(--green-color);
  overflow: auto; 
  z-index: 1000;
}
/* Боковая панель раздел */
.mdc-list {
  display: flex;
    justify-content: center;
    align-items: center;
  margin: 8px;  /* отступы со всех сторон */
  padding: 8px; /* внутренние отступы, если нужны */
  background-color: var(--braun-color);
  border-radius: 15px;
  width: 50px;
  height: 50px;  
}
/* Боковая панель иконки */
.material-icons{
  display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: var(--background-color);
  height: 30px;  
  width: 30px;
}

/* СТИЛИ СТРАНИЦЫ АВТОРИЗАЦИИИ  */
/* Стили контейнера с полями (не ореол)  */
.login-container {
  position: absolute; /* Фиксируем контейнер карты на странице */
  top: 50%; /* Устанавливаем верхнюю позицию на 0, чтобы карта была прикреплена к верху страницы */
  left: 50%; /* Устанавливаем левую позицию на 0, чтобы карта была прикреплена к левой стороне страницы */
  width: 50%;  /* Это будет занимать 100% ширины экрана */
  height: 50%; /* Это будет занимать 100% высоты экрана */
  flex-direction: column; /* Ориентация дочерних элементов вертикально */
  justify-content: center; /* Центрирование дочерних элементов по вертикали */
  align-items: center;
  transform: translate(-50%, -50%);
  display: flex;
}
@media (max-width: 768px) {
  .login-container {
    width: 80%; /* Ширина изменяется на 80% от ширины экрана */
    height: 70%;
  }
}
/* Стили контейнера с фоновой картинкой  */
.login-container-base {
  background-image: url(../img/DSC_1443.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;  
}
/* Стили контейнера ореола для полей пароля и почты  */
.login-container-baseblock {
  width: 620px;
  background: linear-gradient(45deg, rgb(111, 98, 83, 0.8) 27%, rgb(236, 231, 214, 0.8) 54%, rgb(111, 148, 127, 0.8) 77%);
  border-radius: 15px;
  position: absolute;
  top: 50%; /* Устанавливаем верхнюю позицию на 0, чтобы карта была прикреплена к верху страницы */
  left: 50%; /* Устанавливаем левую позицию на 0, чтобы карта была прикреплена к левой стороне страницы */
  width: 40%;  /* Это будет занимать 100% ширины экрана */
  height: 50%; /* Это будет занимать 100% высоты экрана */
  transform: translate(-50%, -50%);
}
/* Медиа-запрос для экранов с шириной менее 768px, например */
@media (max-width: 768px) {
  .login-container-baseblock {
    width: 80%; /* Ширина изменяется на 80% от ширины экрана */
    height: 70%;
  }
}
/* Стили контейнера почты и пароля  */
.input-field {
  width: 100%; /* Ширина input-field на 100% ширины родителя */
  display: flex; /* Применение Flexbox для центрирования содержимого */
  flex-direction: column; /* Вертикальное расположение дочерних элементов */
  align-items: center; /* Центрирование дочерних элементов по горизонтали */
  margin-top: 30px; /* Отступ сверху для разделения элементов */  
}
/* Стили текста Эл. почта\пароль  */
.input-field>label {
  color: var(--background-color);
  margin-top: -40px;
  font-size: 18px; 
} 
/* Стили формы  */
.materialize-form {
  width: 50%; /* Ширина input-field на 100% ширины родителя */    
}
@media (max-width: 768px) {
  .materialize-form {
    width: 90%; /* Увеличиваем ширину до 80% на меньших экранах */
  }
}
/* Стили поля для ввода пароля */
.input-container {
  border: 1px solid var(--background-color); /* Линия границы */
  padding: 2px; /* Поля вокруг содержимого внутри контейнера */
  width: 100%; /* Ширина контейнера */
  border-radius: 5px; /* Закругленные углы */
  height: 47px;
  margin-top: 5px;
  background-color: var(--background-color);
}










