{% extends "base_page.html" %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <!-- Стили специфичные для профиля пользователя -->
    <link rel="stylesheet" type="text/css" href="{% static 'appbase/style.css' %}">    
    <link rel="icon" href="{% static 'favicon.ico' %}">
{% endblock %}

{% block content %}
<div class="main_pic">
    <div class="main_text"> <h1>Создай<br>свое путешествие </h2> </div></div>
<div class="main_menue">
</div>
{% endblock %}
    

{% block scripts %}
{% endblock %}
