{% extends "base_page.html" %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <!-- Стили специфичные для профиля пользователя -->
    <link rel="stylesheet" type="text/css" href="{% static 'appbase/style.css' %}">    
    <link rel="icon" href="{% static 'favicon.ico' %}">

{% endblock %}

{% block content %}

  <div class="carousel-container">
  <div class="carousel carousel-slider center">
   
    <div class="carousel-item" href="#one!" dist="0" numVisible="1">
      <div class="content"> 
        <h2>Создай своё путешествие!</h2>
        <p class="white-text">Посещай города и страны, наноси на карту свои маршруты, оставь путешествие навсегда в своей памяти</p>  
        <a class="btn white black-text darken-text-2">Присоединиться</a>            
      </div>
      <div class="overlay"> </div>
    </div>
    <div class="carousel-item" href="#two!" dist="0" numVisible="1">
      <div class="content"> 
        <h2>Создай своё путешествие!</h2>
        <p class="white-text">Посещай города и страны, наноси на карту свои маршруты, оставь путешествие навсегда в своей памяти</p>  
        <a class="btn white black-text darken-text-2">Присоединиться</a>            
      </div>
      <div class="overlay"> </div>
    </div>
    <div class="carousel-item" href="#three!" dist="0" numVisible="1">
      <div class="content"> 
        <h2>Создай своё путешествие!</h2>
        <p class="white-text">Посещай города и страны, наноси на карту свои маршруты, оставь путешествие навсегда в своей памяти</p>  
        <a class="btn white black-text darken-text-2">Присоединиться</a>            
      </div>
      <div class="overlay"> </div>
    </div>
    <div class="carousel-item" href="#four!" dist="0" numVisible="1">
      <div class="content"> 
        <h2>Создай своё путешествие!</h2>
        <p class="white-text">Посещай города и страны, наноси на карту свои маршруты, оставь путешествие навсегда в своей памяти</p>  
        <a class="btn white black-text darken-text-2">Присоединиться</a>            
      </div>
      <div class="overlay"> </div>
    </div>
    <div class="carousel-item" href="#five!" dist="0" numVisible="1">
      <div class="content"> 
        <h2 class="black-text">Создай своё путешествие!</h2>
        <p class="black-text">Посещай города и страны, наноси на карту свои маршруты, оставь путешествие навсегда в своей памяти</p>  
        <a class="btn white black-text darken-text-2">Присоединиться</a>            
      </div>
      <div class="overlay"> </div>
    </div>
  </div>
</div>
      
<div class="main_menue">
  <div class="container">
    <div class="row">
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <img src="/static/appbase/img/card1.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>  
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <img src="/static/appbase/img/card2.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>  
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <img src="/static/appbase/img/card3.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}

{{ block.super }}
 <!-- Подключение jQuery -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <!-- Подключение скриптов Materialize -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

 <script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelector('.carousel.carousel-slider');
    var instances = M.Carousel.init(elems, {
      fullWidth: true, // Развернуть слайды на всю ширину
      indicators: false, // Показать индикаторы слайдов
      duration: 0.000000000000000000000000000000001, // Длительность анимации перелистывания
    });

    // Функция для автоматического перелистывания слайдов
    var autoplaySlider = function() {
      setInterval(function() {
        var instance = M.Carousel.getInstance(elems);
        instance.next(); // Переключиться на следующий слайд
      }, 10000); // Интервал времени между переключениями слайдов в миллисекундах (в данном случае 3 секунды)
    };

    autoplaySlider(); // Запустить автоматическое перелистывание слайдов
  });
</script>
=====

{% endblock %}

   