/* Стили страницы travel_description.html */
/* Стили контейнера общего */
.content-travel-description {
    display: flex;
    position: relative;
    flex-direction: row; /* Вертикальное расположение */
    margin-left: 66px;
    width: calc(100% - 66px);  
    background-color: #ECE7D6;
    overflow: auto;
    min-height: 1040px;  
    height: 100%;  
}
/* Стили контейнера c текстом */
.content-travel-description-text {    
    width: 40%;  
    background-color: #ECE7D6;
    overflow: auto;
    min-height: 940px;
    flex-direction: column; /* Вертикальное расположение */
    margin-left: 0px;  
}
/* Стили контейнера для картинок */
.content-travel-description-media {          
    width: 60%;    
    background-color: #ECE7D6;
    overflow: auto;
    margin-top: 10px;
    margin-right: 20px;    
    min-height: 1140px;  
    height: 100%;  
}
/* Стили контейнера для с формой */
.content-travel-description-text2 {    
    width: 90%;  
    background-color: #ECE7D6;
    overflow: auto;
    min-height: 940px;
    margin-left: 10px;  
}
/* Стили контейнера для текста описания и заголовка*/
.content-travel-description-text2-title {
    display: flex; /* Используем flexbox */
    align-items: center; /* Центрируем элементы по вертикали */
    
}

/* Стили контейнера с ззаголовком */
.input-field>label {
    color: rgb(0, 0, 0);
    margin-top: 0px;
    font-size: 18px;
    margin-bottom: 0rem;
}
.input-field {
    margin-bottom: 0rem;
}
.custom-btn {
    font-size: 13px;
    height: 35px;
    width: 105px;
  }
/* Слайдер */
.slides img {
    width: 100%; /* Установка ширины изображения на 100% от ширины контейнера */
    height: auto; ; /* Высота устанавливается автоматически для сохранения пропорций изображения */
    object-fit: cover; /* Изображение заполняет весь слайдер, сохраняя пропорции */
    object-position: center;
}
.slider, .slides {
    width: 100%; /* Установка ширины изображения на 100% от ширины контейнера */
    height: 700px !important;
    border-radius: 15px; /* Закругление углов. Можно настроить в соответствии с желаемым эффектом */
    overflow: hidden; /* Это гарантирует, что содержимое слайда также будет закруглено и не выходит за пределы границ */
      
}
.slider .indicators {
    position: relative;
    margin-top: 20px;
    text-align: center;
}
.media-input  {
    position: relative;
    width: 60%;
    margin-top: 10px;
    margin-left: 10px;
}
.slider .slides li .caption {
    position: absolute;
    right: 20px;   /* Правый отступ */
    bottom: 20px;  /* Нижний отступ */
    top: 85%;
    left: auto;    /* Аннулировать стандартное горизонтальное позиционирование */
    text-align: right; /* Выравнивание текста по правому краю */

}
/* иконка редактирования */
.edit-button-point {
    position: relative;
    left: 0%;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    margin-left: 0px; /* Добавляем немного пространства между текстом и кнопкой */
    margin-top: 0px; /* Добавляем немного пространства между текстом и кнопкой */
}
/* Убираем подчеркивание полей инпут */
#title-field {
    border-bottom: none; /* Убираем подчеркивание */
    /* Другие стили, которые нужно скрыть */
}
#description-field {
    border-bottom: none; /* Убираем подчеркивание */
    /* Другие стили, которые нужно скрыть */
}
/* Кнопка отправки формы */
#submitButton-description-name, #submitButton-description-title {
    display: none; /* Изначально скрыта */  
    background-color: #6F947F;
    color: #ECE7D6;
    border: none;
    padding: 4px 8px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 75%;
  }
/* Всплывающий текст кнопки удаления */
.tooltip-text-description {
    visibility: hidden;
    width: 120px;
    background-color: #6F947F;
    color: #ECE7D6;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 33px; /* Выравнивание по вертикали относительно кнопки */
    left: 50%; /* Позиционирование слева от кнопки */
    transform: translateY(-50%); /* Дополнительное выравнивание по вертикали */
    margin-right: 5px; /* Отступ от кнопки */
  }
.edit-button-point:hover .tooltip-text-description {
    visibility: visible;
    opacity: 1;
}
.edit-button-point:active,
.edit-button-point:focus {
    background-color: transparent; /* Устанавливаем прозрачный фон */
    outline: none; /* Убираем контур при фокусе */
}

/* Стили страницы с расходами */
/* Стили контейнера с ззаголовком */
.content-travel-finance {
    display: flex;
    position: relative;
    flex-direction: row; /* Вертикальное расположение */
    margin-left: 66px;
    width: calc(100% - 66px);  
    background-color: #ECE7D6;
    
    min-height: 600px;  
    height: 100vh;  
}
.content-travel-finance-description {
    background-color: #ECE7D6;
    width: 40%;
}
.content-travel-get-finance-charts {
    margin-top: 30px;
    width: 30%;  
    background-color: #ECE7D6;
    overflow: auto;
    height: 100%;  
}
.content-travel-get-finance-charts_2 {
    margin-top: 30px;
    width: 30%;  
    background-color: #ECE7D6;
    overflow: auto;
    height: 100%;  
}

.content-travel-get-finance {
    width: 100%;
    margin-left: 10px;
}
.content-travel-add-finance-total {
  font-size: 40px;
  width: 80%;
  margin-left: 60px;
}
/* Стили модального окна */
.modal {
    position: fixed; /* Используйте fixed вместо absolute для позиционирования относительно окна браузера */
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 400px; /* или любая другая ширина по вашему усмотрению */
    min-height: 200px; /* минимальная высота */
    height: 600px;
    background: #ECE7D6;
    padding: 0 !important; /* Убирает внутренние отступы */
    margin: 0; /* Убирает внешние отступы */
    overflow-y: auto;
}
/* Стили модального окна */
.modal-content {
    background: #ECE7D6;
    padding: 0 !important; /* Убирает внутренние отступы */
    margin: 0; /* Убирает внешние отступы */
    max-height: 600px;
    overflow-y: auto;
}
/* Стили модального окна */
#fieldsContainer1, #fieldsContainer2  {
    display: flex;    
    flex-direction: column; /* Изменение оси на вертикальную */
    overflow-y: auto;
}
.modal-content-nameexpense, .modal-content-amount {
    margin-bottom: 10px; /* Отступ между элементами */
}
/* Стили контейнера общего для имени и суммы затрат */
.modal-content-group {
    display: flex;    
    justify-content: space-between; /* Распределение элементов в строке с пространством между ними */
    margin-bottom: 10px; /* Отступ снизу для каждой группы */
}
/* Стили модального окна */
.modal-content-nameexpense {
    flex: 3; /* Больше места для этого контейнера */
    margin-right: 10px;    
}
/* Стили модального окна */
.modal-content-amount {
    flex: 1; /* Больше места для этого контейнера */
}
/* Стили для кнопки модального окна */
.modal-content-btn {
    display: flex;
    justify-content: flex-end; /* Выравнивает кнопку по правому краю */
}
#submitButton, #addMoreButton {  
    background-color: #6F947F;
    color: #ECE7D6;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
 #addMoreButton {
    margin-right: 10px;
}  
/* Стили текста в полях формы модального окна */
.input-nameexpense::placeholder {
    color: rgb(0, 0, 0); /* Цвет текста плейсхолдера */
}
.input-amount::placeholder {
    color: rgb(0, 0, 0); /* Цвет текста плейсхолдера */
}
.bold-title {
    font-weight: bold;
}
/* Стили контейнера с кнопкой вызова модального окна */
.dropdown-trigger {
    margin-top: 10px;
    margin-left: 10px;
    min-width: 210px; 
}
.dropdown-trigger.btn:hover {
    background-color: #6F947F; /* Тот же цвет, что и в обычном состоянии */
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #000000;
}
.dropdown-content a {
    background: #ECE7D6;
}
.dropdown-content a {
    background: #ECE7D6;   
}
.dropdown-content a:hover {
    background: #6F947F; /* Замените на желаемый цвет */
}
/* Стили для уведомлений (Тосты) */
.custom-error {
    background-color: #F44336;
    color: #000;
    font-size: 20px;
  }
  .custom-success {
    background-color: #43A047;
    color: #000;
    font-size: 20px;
  }
   /* Кнопка удаления*/
.delete-button {
    position: relative; /* Для позиционирования tooltip */
    background: none;
    border: none;
    cursor: pointer;
}
.delete-button img {
    width: 20px; /* или любой другой размер */
    height: auto;
}
/* Стиль для показа tooltip при наведении */
.delete-button:hover .tooltip-text {
    visibility: visible;
}
/* Стиль заголовка  collapsible */
.collapsible-header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Занимает всю ширину контейнера */
}
.text-label, .text-amount {
    font-weight: bold; /* Жирное начертание */
    font-size: 20px;
}
.collapsible {
    max-width: 500px;
}
/* Стиль подсказки графика */
.arc-text {
    background-color: #6F947F;
    font-size: 18px;
    
    
}
  