/* Стили страницы travel_description.html */
/* Стили контейнера общего */
.content-travel-description {
    display: flex;
    position: relative;
    flex-direction: row; /* Вертикальное расположение */
    margin-left: 66px;
    width: calc(100% - 66px);  
    background-color: #ECE7D6;
    overflow: auto;
    min-height: 1540px;  
    height: 100%;  
}
/* Стили контейнера c текстом */
.content-travel-description-text {    
    width: 40%;  
    background-color: #ECE7D6;
    overflow: auto;
    height: 100vh;  
}
.content-travel-description-text-form {
    width: 95%;
    margin-left: 10px;
}

.content-travel-description-media {          
    width: 60%;    
    background-color: #ECE7D6;
    overflow: auto;
    margin-top: 20px;
    margin-right: 20px;    
    min-height: 1140px;  
    height: 100%;  
}
/* Стили контейнера с ззаголовком */

.input-field>label {
    color: rgb(0, 0, 0);
    margin-top: 0px;
    font-size: 18px;
    margin-bottom: 0rem;
}
.input-field {
    margin-bottom: 0rem;
}
.custom-btn {
    font-size: 13px;
    height: 35px;
    width: 105px;
  }
.content-travel-description-media {
    max-width: 1400px;
    max-height: 720px;
}
/* Слайдер */
.slides img {
    width: 100%; /* Установка ширины изображения на 100% от ширины контейнера */
    height: auto; ; /* Высота устанавливается автоматически для сохранения пропорций изображения */
    object-fit: cover; /* Изображение заполняет весь слайдер, сохраняя пропорции */
    object-position: center;
}
.slider, .slides {
    width: 100%; /* Установка ширины изображения на 100% от ширины контейнера */
    height: 700px !important;
    border-radius: 15px; /* Закругление углов. Можно настроить в соответствии с желаемым эффектом */
    overflow: hidden; /* Это гарантирует, что содержимое слайда также будет закруглено и не выходит за пределы границ */
      
}
.slider .indicators {
    position: relative;
    margin-top: 20px;
    text-align: center;
}
.media-input  {
    position: relative;
    margin-top: 50px;
}
.slider .slides li .caption {
    position: absolute;
    right: 20px;   /* Правый отступ */
    bottom: 20px;  /* Нижний отступ */
    top: 85%;
    left: auto;    /* Аннулировать стандартное горизонтальное позиционирование */
    text-align: right; /* Выравнивание текста по правому краю */

}