/* Кнопки */
/* Кнопки большие */
.btn {
    text-decoration: none;
    color: var(--background-color);
    background-color: var(--green-color);
    border-radius: 12px;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}
/* Убираем изменение цвета при наведении */
.btn:hover {
    background-color: var(--green-color); /* Тот же цвет, что и в обычном состоянии */
}


/* Уведомления тосты */
.toast {
    position: fixed;
    right: 20px;
    top: 50px;
    border-radius: 15px;
    padding: 10px 25px;
    background-color: var(--braun-color);
    color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    width: auto; /* Ширина адаптируется к содержимому */
    max-width: 50%; /* Максимальная ширина */
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5em;
    min-height: 48px; /* Минимальная высота */
}
.toast-success {
    background-color: var(--green-color);
    color: #000;
    font-size: 20px;
}
.toast-error {
    background-color: var(--red-color);
    color: #000;
    font-size: 20px;
}






